.about {
    background-color: rgba($pastel, .5);

    &.section {
        .section__content {
            display: flex;
            flex-direction: column;
        }
    }

    /*
    &:after,
    &:before {
        content: "";
        position: absolute;
        width: 200%;
        height: 200%;
        top: -80%;
        left: -50%;
        z-index: -1;
        opacity: .1;
        background-image: url('/images/notes.png');
        background-position: center;
        background-size: 300px;
        background-repeat: repeat-x;
        transform: rotate(20deg);
    }

    &:after {
        top: 0%;
    }
    */
}

.about__description {
    @include type--default;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    margin-top: 1em;
}

.about__video {
    width: 100%;
    height: auto;
}
