.contact__list {
    .list-item {
        border-bottom: 1px solid black;

        &:first-child {
            border-top: 1px solid black;
        }
    }
}

/*

.contact {
    background-color: rgba(black, .8);
}

@media ( min-width: $desktop ) {

    .contact__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .contact-card {
            width: 46%;
            &:nth-child(n+3) {
                margin-top: 3%;
            }
        }

    }

}
*/
