.contact {
    background-color: rgba(black, .8);
}

@media ( min-width: $desktop ) {

    .contact__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .contact-card {
            width: 46%;
            &:nth-child(n+3) {
                margin-top: 8%;
            }
        }

    }

}
