.container {
    margin-left: 5%;
    margin-right: 5%;
}


@media ( min-width: $desktop ) {
    .container {
        max-width: $max-width;
        margin-left: auto;
        margin-right: auto;

        &.container--inset {
            max-width: $inset;
        }
    }
}
