.contact {
    background-color: rgba(black, .8);
}

.contact__title {
    @include type--header;
    color: white;
}

.contact__description {
    @include type--medium;
    color: white;
    margin-top: .5em;
}

.contact__list {
    margin-top: 3em;
}


@media ( min-width: $desktop ) {

    .contact__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .contact-card {
            width: 46%;
            &:nth-child(n+3) {
                margin-top: 8%;
            }
        }

    }

}
