.event-item {
    display: flex;
    position: relative;

    &:not(first-child):after {
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        height: 0px;
        margin: auto;
        bottom: 0;
        border-bottom: 1px solid black;
        content: '';
    }
}

.event-item__image-holder {
    width: 4em;
    height: 4em;
}

.event-item__image  {
    width: 100%;
    height: auto;
}

.event-item__content {
    flex: 1;
    padding: .5em;
}
