.featured {


    &:after,
    &:before {
        content: '';
        display: block;
        height: 0px;
        width: $inset;
        margin: 4em auto 0;
        border: 1px solid black;
    }

}

.featured__video {
    display: block;
    margin-top: 4em;
    width: 100%;
    height: auto;
}
