.filter {
    padding: 1em;
    display: flex;
    border: 1px solid black;
}

.filter__item {
    flex: 1;
    text-align: center;

    &:not(:first-child) {
        border-left: 1px solid black;
    }
}
