.list-page {
    overflow-x: hidden;
    width: 100%;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 1;

    transition: transform .4s;

    .item {
        width: 25%;
        margin-left: 100px;
        display: inline-block;
    }

    &.list-page--events {
        transform: translateX(100%);

        .list-page__background {
            background-image: url('/images/driftingcru.jpeg');
        }
    }


    &.list-page--active {
        transform: translateX(0);

        .list-page__background {
            transform: translateX(0);
        }

    }
}


.list-page__background {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    position: absolute;
    top: 0;
    height: 100%;
    transform: translateX(-100%);

    transition: transform .4s;
}

.list-page__shim {
    width: 100%;
    position: absolute;
    top: 0;
    height: 100%;
    background-color: rgba(black, .5);
}
