.list-page {
    position: relative;

    .item {
        width: 25%;
        margin-left: 100px;
        display: inline-block;
    }

}

.list-page__title {
    @include type--header;
}

.list-page__description {
    @include type--medium;
}

.list-page__section {
    margin-top: 2em;
}

.list-page__section-title {
    @include type--subheader;
}
