.list-page {
    position: relative;

    .item {
        width: 25%;
        margin-left: 100px;
        display: inline-block;
    }

}


.list-page__section-title {
    @include type--subheader;
}
