.location {
    color: white;
    padding: 2em;
    border: 1px solid white;
}

.location__details {
    display: flex;
    justify-content: space-between;
}

.location__right {
    align-self: flex-end;
}


.location__image {
    width: 100%;
    height: auto;
    margin-bottom: 1em;
}

.location__details {
    margin-top: 1em;
}

.location__name {
    @include type--subheader;
    color: $pastel;
}


.location__address {
    @include type--medium;
}

.location__instructor {
    display: inline-block;

    @include type--default;

    &:after {
        content: '';
        display: block;
        height: 0px;
        border-bottom: 1px solid white;
        margin-top: .5em;
    }
}

.location__fees {
    color: $pastel;
    @include type--medium;
}


.location__dates {
    margin-top: .8em;
}

