@mixin type--splash {
    font-size: 50px;
    line-height: 1.4em;
}

@mixin type--header {
    font-size: 40px;
    line-height: 1.1em;
}

@mixin type--subheader {
    font-size: 30px;
    line-height: 1.4em;
}

@mixin type--medium {
    font-size: 20px;
    line-height: 1.4em;
}

@mixin type--default {
    font-size: 16px;
    line-height: 1.4em;
}

