$border-radius: 1em;
$accent: #CA01FD;
$pastel: #89E894;
$tablet: 768px;
$desktop: 1024px;
$max-width: 1280px;
$inset: 768px;

@import 'reset';
@import 'typography';
@import 'header';
@import 'splash';
@import 'landing';
@import 'item';
@import 'list-page';
@import 'filter';
@import 'about';
@import 'contact';
@import 'contact-card';
@import 'classes';
@import 'location';
@import 'footer';


html, body {
    font-family: 'Raleway', sans-serif;
    line-height: 1em;
    overflow-x: hidden;

}

* {
    box-sizing: border-box;
}


a {
    color: inherit;
    text-decoration: inherit;
}


.container {
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;

    &.container--inset {
        max-width: $inset;
    }
}

.accent {
    color: $accent;
}
.pastel {
    color: $pastel;
}

.section {
    padding-top: 3em;
    padding-bottom: 3em;
}

.section__title {
}

.section__description {
}

.divider {
    width: $inset;
    border: 1px solid black;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
